@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

* {
  margin: 0;
  padding: 0;
  
}

body, html {
  width: 100%;
  height: 100%;
  text-shadow: 0 1px 0 #eee;
}

body {
  background-color: #fafafa;
  font-family: Trebuchet MS, Helvetica;
}

/* Шапка сайта */

header {
  width: 100%;
  
  
  float: top;
  position: fixed;
}

header #logo {
  background-color: #ef9f33;
  color: #fff;
  cursor: pointer;
  
}

header #logo span {
  font-size: 1.7em;
  font-style: oblique;
  font-weight: bolder;
  line-height: 45px;
  
  font-family: 'Verdana', serif;
}

header #glogo {
  height: 100px;
  
  float: left;
  width: 35%;
  display:flex;
  justify-content: center; 
  
}

img.image { 
  width: 35px; 
  border: none; 
  padding-top: 7px;
  padding-right: 7px;
}

#logo {  
  font-size: 1.1em;
  display:flex;
  justify-content: center; 
  align-items: center;
  width: 55%;
  margin-left: 20%;
}

#about {
  display:flex;
  justify-content: center; 
  align-items: center;
  height: 100px;
  width: 65%;
}


#about {
  text-align: center;
  font-size: 1.1em;
  line-height: 40px;
  
}

#about > a {
  color: #9294a4;
  text-decoration:none;
}
  
#about > a:hover {
  color: #44535f;
  
}

#about > a:not(:last-child) {
  margin-right: 7%;
}

/* Стили для фиксированной шапки */

.fixed {
  z-index: 5000;
  background-color: #fff;
  border-bottom: 1px solid silver;
}



.fixed #about a {color: #343434}
.fixed #about a:hover {color: #7c7c7c}


.step{
  height: 100px;
}





.box_main2{
  height:200px;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
}

.b_a_i {
  margin-left: 25px;
  margin-right: 25px;
  width: 30%;
  
  
}

.b_a_i img {
  width: 100%;
  max-width: 600px;
  
}

.box_about {
  width: 80%;
  display: flex;
  justify-content: center; 
  margin: 0 auto;
  
}

.main_h2 {
  text-transform: uppercase;
  font-style: oblique;
  font-weight: bold;
  font-size: 2.2em;
  font-family: 'Verdana', serif;
}

.main_text {
  height: 75px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center; 
  align-items: center;
  
  font-size: 1.2em;
  font-style: oblique;
  font-weight: bolder;
  font-family: 'Verdana', serif;
  text-transform: uppercase;
}

.m_2_text {
  
  margin-top: 30px;
  color: #868896;
  text-align: center;
  font-family: 'Verdana', serif;
  line-height: 23px;
  font-size: 0.8em;
  width: 90%;
}

.box_m_2 {
  
  
  display: flex;
  justify-content: center; 
  align-items: center;
}


.but_div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
}

.m_2_button {
  height: 50px;
  width: 200px;
  background-color: #373737;
  color: #eee;
  font-style: oblique;
  font-weight: bolder;
  text-transform: uppercase;
  border:0px;
  font-family: 'Verdana', serif;
}
.m_2_button:hover {
  background-color: #ea5f27;
}

.main_3 {
  width: 100%;
  
  background-color: #f2f2f2;
}

.box_m_3 {
  display: flex;
  justify-content: center;
  
  width: 100%;
  
  margin-bottom: 15px;
}

.m_3_h {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.list_3{
  list-style: none;
  line-height: 23px;
  font-family: 'Verdana', serif;
  color: #868896;
}
.list_3 > li{
  padding-left: 20px;
  position: relative;
  margin: 10px;
  
}
.list_3 > li:before{
  content: '✔';
  position: absolute; top: 0; left: 0;
  color: #ea5f27;}
  
.head_m4 {
    display:flex;
    justify-content:center;
    margin: 50px 0; 
}  



#form {
    margin:0 auto;
    display:flex;
    justify-content:center;
    width:60%;
    margin-top:30px;
}  
  
#form input {
    width:25%;
    border: 1px solid grey;
    margin-right:-1px;
    background:red;
}  

#form img{
    width:100%; 
    max-width:300px;
}

#result {
    
    width:60%;
    margin: 0 auto;
    min-height:505px;
    margin-top:35px;
    height:100%;
    
}

.car_box {
    float:left;
    width:30%;
    margin-left:2.4%;
    
    
}

.car_brand {
    float:left;
    height: 75px;
    
    margin-top:25px;
  
    font-size: 1.2em;
    
    font-weight: bolder;
    font-family: 'Verdana', serif;
    text-transform: uppercase;
}

.car_cost {
    float:right;
    height: 75px;
    
    margin-top:25px;
    color: #ea5f27;
    
    
    font-weight: bolder;
    font-family: 'Verdana', serif;
    
}


.main_5 {
    background-color:#3A3A3A;
    
}

.head_m5 {
    display:flex;
    justify-content:center;
    
}

.main_h5 {
    margin-top:50px;
    text-transform: uppercase;
    font-style: oblique;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Verdana', serif;
    color:white;
}

.box_m5 {
    width:50%;
    display:flex;
    justify-content:center;
    margin-left:17%;
    
    margin-top:25px;
    
}

.list_m5 {
    color:white;
    margin-bottom:25px;
}

.main_6 {
    background-color: #2E2E2E;
    display:flex;
    justify-content:center;
    
}
.main_6 p {
    margin-top:10px;
    color:white;
    
}
.but_div1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:25px;
}
.m_2_button1 {
  height: 50px;
  width: 200px;
  background-color: #373737;
  color: #eee;
  font-style: oblique;
  font-weight: bolder;
  text-transform: uppercase;
  border:0px;
  font-family: 'Verdana', serif;
}
.m_2_button1:hover {
  background-color: #ea5f27;
}


.overlay {
    position:absolute;
    width:100%;
    height:100vh;
    top:0;
    left:0;
    display: none;
}

.popup {
    position:absolute;
    width:400px;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    padding:40px;
    
    background-color:#ff5252;
}

.close-popup {
    position:absolute;
    top:15px;
    right:15px;
    width:23px;
    height:23px;
    cursor: pointer;
}

.close-popup:before {
    content: '';
    background-color: #fff;
    position:absolute;
    height:1px;
    width:31px;
    top:11px;
    left:-4px;
    transform:rotate(-45deg);
}

.close-popup:after {
    content: '';
    background-color: #fff;
    position:absolute;
    height:1px;
    width:31px;
    top:11px;
    left:-4px;
    transform:rotate(45deg);
}




